<script type="text/ng-template" id="edit-request.html">
    <div class="modal-header">
        <h4>{{title}}</h4>
    </div>
    <div class="modal-body">
    	<form name="request_form" role="form" novalidate>
    		<div class="form-group">
	  			<label class="col-xs-3 radio-inline"><input type="radio" name="tipo" id="tipoBobina" ng-model="modal.item.cut" value="B" ng-change="changedCut()">Bobina</label>
	  			<label class="radio-inline"><input type="radio" name="fina" id="finaQuente" ng-model="modal.item.material.lamination" value="FQ">Fina Quente</label><br>
	  		</div>
    		<div class="form-group">
			    <label class="col-xs-3 radio-inline"><input type="radio" name="tipo" id="tipoChapa" ng-model="modal.item.cut" value="C" ng-change="changedCut()">Chapa</label>
				<label class="radio-inline"><input type="radio" name="fina" id="finaFrio" ng-model="modal.item.material.lamination" value="FF">Fina Frio</label>
			</div>
    		<div class="form-group">
	    		<label for="treatment">Tratamento</label>
    			<select id="treatment" class="form-control" ng-model="modal.item.material.treatment" ng-options="t.value as t.desc for t in modal.treatments"></select>
    		</div>
    		<div ng-class="{'form-group' : true, 'has-error' : request_form.otherThicknesses.$dirty && request_form.otherThicknesses.$invalid}">
	    		<label for="thickness">Espessura (mm)</label>
    			<select id="thickness" class="form-control" ng-model="modal.item.material.thickness" ng-options="t.value as t.desc for t in modal.thicknesses" ng-change="changedThickness()"></select>
    			<p class="help-block" ng-show="modal.showOtherThickness">
    				<input type="number" class="form-control" id="otherThicknesses" name="otherThicknesses" ng-model="modal.item.otherThickness" placeholder="Nova espessura..." min='0.10' max='9.99' required>
    				<span class="help-block" ng-show="request_form.otherThicknesses.$dirty && request_form.otherThicknesses.$invalid">Valor inválido para "Espessura"!</span>
    			<p>
    		</div>
    		<div ng-class="{'form-group' : true, 'has-error' : request_form.otherWidth.$dirty && request_form.otherWidth.$invalid}">
	    		<label for="width">Largura (mm)</label>
    			<select id="width" class="form-control" ng-model="modal.item.material.width" ng-options="w for w in modal.widths" ng-change="changedWidth()"></select>
    			<p class="help-block" ng-show="modal.showOtherWidth">
    				<input type="number" class="form-control" id="otherWidth" name="otherWidth" ng-model="modal.item.otherWidth" placeholder="Nova largura..." min='20' max='3000' required>
    				<span class="help-block" ng-show="request_form.otherWidth.$dirty && request_form.otherWidth.$invalid">Valor inválido para "Largura"!</span>
    			<p>
    		</div>
    		<div ng-class="{'form-group' : true, 'has-error' : request_form.otherLength.$dirty && request_form.otherLength.$invalid}">
	    		<label for="length">Comprimento (mm)</label>
    			<select id="length" class="form-control" ng-model="modal.item.material.length" ng-options="l for l in modal.lengths" ng-change="changedLength()" ng-disabled="modal.item.cut === 'B'"></select>
    			<p class="help-block" ng-show="modal.showOtherLength">
					<input type="number" class="form-control" id="otherLength" name="otherLength"
						ng-model="modal.item.otherLength" placeholder="Novo comprimento..." min='0' max='3000'>
    				<span class="help-block" ng-show="request_form.otherLength.$dirty && request_form.otherLength.$invalid">Valor inválido para "Comprimento"!</span>
    			<p>
    		</div>
    		<div ng-class="{'form-group' : true, 'has-error' : request_form.weight.$dirty && request_form.weight.$invalid}">
	    		<label for="weight">Peso (Kg)</label>
    			<input id="weight" name="weight" type="number" class="form-control" ng-model="modal.item.weight" placeholder="Peso" min='1' integer required>
    			<span class="help-block" ng-show="request_form.weight.$dirty && request_form.weight.$invalid">Valor inválido para "Peso"!</span>
    		</div>
    		<div class="form-group" ng-class="{'form-group' : true, 'has-error' : request_form.arrival.$dirty && request_form.arrival.$invalid}">
	    		<label for="arrival">Data Entrega</label>
    			<p class="input-group">
          			<input name="arrival" type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="modal.item.arrival" is-open="modal.opened"
          				min="modal.minDate" max="'2015-06-22'" show-weeks="false" show-button-bar="false" required/>
          			<span class="input-group-btn">
            			<button class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          			</span>
        		</p>
    			<span class="help-block" ng-show="request_form.arrival.$dirty && request_form.arrival.$invalid">Valor inválido para "Data Entrega"!</span>
    		</div>
		<div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="request_form.$invalid" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="confirmRemoveItemModal.html">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
      <h4>{{title}}</h4>
  </div>
  <div class="modal-body">
         <p>Deseja realmente remover o ítem?</p>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
  </div>
</script>

<script type="text/ng-template" id="confirmSendRequestModal.html">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
      <h4>{{title}}</h4>
  </div>
  <div class="modal-body">
         <p>Deseja realmente enviar a requisição?</p>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
  </div>
</script>

<script type="text/ng-template" id="progressSendRequestModal.html">
  <div class="modal-header">
      <h4>Enviando requisição....</h4>
  </div>
  <div class="modal-body">
    <div class="progress progress-striped active">
      <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">100% Complete</span>
      </div>
    </div>
  </div>
</script>

<div class="container">
  <navtitle></navtitle>
    <div class="bs-example">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    <h4 ng-bind="subtitle + ' - Data Criação: ' + (request.created|date:'dd/MM/yyyy')"></h4>
    <p>
      <button type="button" class="btn btn-primary" ng-click="editRequest()"><span class="icon-plus-2"></span> Incluir</button>
      <button type="button" class="btn btn-primary" ng-click="sendRequest()" ng-disabled="request.items.length === 0"><span class="icon-checkmark"></span> Enviar Requisição</button>
    </p>

    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Laminação</th>
          <th>Tratamento</th>
          <th>Espessura (mm)</th>
          <th>Largura (mm)</th>
          <th>Comprimento (mm)</th>
          <th>Peso (kg)</th>
          <th>Entrega</th>
          <th width="6%">#</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in request.items">
          <td>{{item.material.lamination|lamination}}</td>
          <td>{{item.material.treatment|treatment}}</td>
          <td>{{item.material.thickness|number:2}}</td>
          <td>{{item.material.width}}</td>
          <td>{{item.material.length}}</td>
          <td>{{item.weight}}</td>
          <td>{{item.arrival|date:'dd/MM/yyyy'}}</td>
          <td style="align:center">
          	<a href="" ng-click="editRequest(item)"><button type="button" class="btn btn-primary btn-xs"><span tooltip="Editar" class="glyphicon glyphicon-pencil"></span></button></a>
          	<a href="" ng-click="removeRequest(item)"><button type="button" class="btn btn-danger btn-xs"><span tooltip="Remover" class="glyphicon glyphicon-remove"></span></button></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
